 # Visualizing Rolling Statistics with Pandas DataFrames


    ** Now we can look a  window of time smaller than 10 years. When you develop automated trading strategis you look at a shorter window times, (1 week or less)

    ** Pandas `rolling()` method allow us to do this. It returns a Series and any method available to a Series is callable on the output of rolling().
    
[Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html)

 ## 1. Import Libraries and Dependencies

In [1]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path
%matplotlib inline

 ## 2. Create a Path to the File Using Pathlib.

In [2]:
# Read the aapl data, set the `date` as the index
aapl_csv_path = Path("../Resources/aapl.csv")

 ## 3. Read the CSV into a Pandas DataFrame.

In [3]:
# Read the aapl CSV into a DataFrame while formatting and setting the `date` column as the index
aapl_df = pd.read_csv(aapl_csv_path, index_col="date", infer_datetime_format=True, parse_dates=True)
aapl_df.head()

              close     volume     open     high      low
date
2009-08-03  23.7757   98285279  23.6014  23.8057  23.5529
2009-08-04  23.6500   98772690  23.5614  23.6529  23.4586
2009-08-05  23.5871  105581942  23.6786  23.9128  23.4586
2009-08-06  23.4157   85271156  23.6543  23.7871  23.2986
2009-08-07  23.6443   96727219  23.6414  23.8000  23.5429

 ## 4. Drop Extra Columns

In [4]:
# Use the `drop` function to drop the extra columns
aapl_df.drop(columns=["volume", "open", "high", "low"], inplace=True)

In [5]:
aapl_df

               close
date
2009-08-03   23.7757
2009-08-04   23.6500
2009-08-05   23.5871
2009-08-06   23.4157
2009-08-07   23.6443
...              ...
2019-07-26  207.7400
2019-07-29  209.6800
2019-07-30  208.7800
2019-07-31  213.0400
2019-08-01  208.4300

[2517 rows x 1 columns]

 ## 6. Rolling 7-Day Mean of AAPL Closing Prices

In [6]:
# Plot a rolling 7-day mean of aapl's closing prices

In [7]:
# Show the dataframe the first 7 NAN values

 ## 8. Rolling 30-Day Mean and Standard Deviation of AAPL Closing Prices

In [8]:
# Plot a rolling 30-day mean of aapl's closing prices

 ## 9. Rolling 30-Day Standard Deviation of AAPL Closing Prices

In [9]:
# Plot a rolling 30-day std dev of aapl's closing prices

 ## 12. Overlay Daily Closing Price and 30-Day Rolling Mean of AAPL

In [10]:
# Set figure of the daily closing prices of aapl



# Plot 30-Day Rolling Mean on the same figure


# Set the legend of the figure

 ## 13. Calculate the Volume Weighted Average Price (VWAP)

 ![VWAP](https://dm2302files.storage.live.com/y4mtQFl9sETd4GX3h3HcGrgEZCgrGAOtLlWbjBRVd8PL2CHqyUO6HJbccBVly2M0IT2TKXAtLkSv5dYmgvfRsqTyqK5BK1XvS9qV_7hQG9NdaAwvdUTAxUMbeWAGQ8ozwnPN0Q8elE2XD6AqtnVIpNG4zw0wATtJxedbNRKDudXz1qzoPgWc5vSuW5NXE2WVWyH?width=240&height=60&cropmode=none)

1. Calculate the avg price of the stock over a t-period. (1 day, 5 minutes, etc) and multiply by the volume for that period
2. Divide the result by the volume of that period

### Why VWAP?

** Trend confirmation (not a buy or sell execution). Indicate if market is bearish or bullish. Market is bullish when price < VWAP (short position) and bearish if price > VWAP (long position). 

- Bull Market - On the rise - Traders believe stock or overall market will go higher
- Bear Market - Decline - Traders believe stock or overall market will go down or underperform.  

** Use as a indicator when to buy or sell .

In [11]:
# Read the aapl CSV into a DataFrame while formatting and setting the `date` column as the index
aapl_df = pd.read_csv(aapl_csv_path, index_col="date", infer_datetime_format=True, parse_dates=True)
aapl_df.head()

# Calculate daily average
aapl_df['avg_price'] = aapl_df[['open','close','high','low']].mean(axis=1)
aapl_df.head()

              close     volume     open     high      low  avg_price
date
2009-08-03  23.7757   98285279  23.6014  23.8057  23.5529  23.683925
2009-08-04  23.6500   98772690  23.5614  23.6529  23.4586  23.580725
2009-08-05  23.5871  105581942  23.6786  23.9128  23.4586  23.659275
2009-08-06  23.4157   85271156  23.6543  23.7871  23.2986  23.538925
2009-08-07  23.6443   96727219  23.6414  23.8000  23.5429  23.657150

In [12]:
# Function for calculating volume weighted average price

In [13]:
# Calculate average volume for each window = 10

In [14]:
# Drop n/a values for first points where the window was undefined

In [15]:
# Let use lambda to apply functions that have multiple parameters. Apply the volume weighted average price function for each row in the dataframe

[Lambdas Documentation](https://book.pythontips.com/en/latest/lambdas.html)

In [16]:
# Initialize plot with average weighted price


# Add average price to the plot


# Set the legend of the figure