# What is Beta?

    ** Beta is the measure of the volatility of an individual stock in comparison to the volatility of the entire market (i.e. S&P500) 



* Beta represents the slope of the regression line (market return vs stock return)
* Beta is a measure of the volatility or systematic risk (market risks) of a security or portfolio compared to the entire market (S&P 500)
* Beta is used in the CAPM and describes the relationship between systematic risk and expected return for assets. 
* Tech stocks generally have a higher betas than S&P 500 but they also have excess returns
    * Beta = 1, this indicates that is price activity is strongly correlated with the market. 
    * Beta < 1 (defensive): Indicates that the security is theoritically less volatile than the market (Ex: Utility and consumer goods (P&G)). If the stock is included, this will make the portfolio less risky compared to the same portfolio without the stock. 
    * Beta > 1 (agressive): Indicates tha the security's price is more volatile than the market. For instance, Facebook stock beta is 1.28 indicating that it's 28% more volatile than the market. It will do better if the economy is booming and worse in case of recession. 



## Beta vs. Correlation

* Beta ries to measure the impact of one variable on another variable
* Correlation measures the possible frequency of similarly directional movements without considerations of cause and effect. 
* Beta is the slope of the two variables
* Correlation is the strenght of that linear relationship

## Beta Formula

![Beta](https://dm2302files.storage.live.com/y4mQdPoNK0NcljVCaOfHhhDCBSonatMD9-oBYrAbCRznawPjZBN83I77rYV5ZjIE9WVYPKqA-KcjPS59nG9QewBuXPyHR7YNaxQ3ByXGofUR_hipfJAjwgs0HSbNd3KUb6n6kkT6Xhx413azi9KjNwZE5ol65REHYsRlEczHZjSOb91Km1JYz2DpERKKVGtnDAr?width=562&height=249&cropmode=none)

In [1]:
# Import libraries and dependencies
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

### Read CSVs in as DataFrames

In [2]:
# Read the daily closing prices of AMZN, set the `date` as a datetime index
amzn_data = Path("../Resources/amzn_data.csv")
amzn_df = pd.read_csv(amzn_data, index_col="date", parse_dates=True, infer_datetime_format=True)

# Read the daily closing prices of S&P 500, set the `date` as a datetime index
sp500_data = Path("../Resources/sp500_data.csv")
sp500_df = pd.read_csv(sp500_data, index_col="date", parse_dates=True, infer_datetime_format=True)
sp500_df.head()

                  close
date
2014-05-20  1872.829956
2014-05-21  1888.030029
2014-05-22  1892.489990
2014-05-23  1900.530029
2014-05-27  1911.910034

### Combine DataFrames, Sort Index, and Rename Columns

In [3]:
# Create a new dataframe where the columns are the closing prices for each ticker
combined_df = pd.concat([amzn_df, sp500_df], axis="columns", join="inner")

# Sort datetime index in ascending order (past to present)
combined_df.sort_index(inplace=True)

# Set column names to 'AMZN' and 'S&P 500'
combined_df.columns = ["AMZN", "S&P 500"]

# Display a few rows
combined_df.head()

              AMZN      S&P 500
date
2014-05-20  301.19  1872.829956
2014-05-21  305.01  1888.030029
2014-05-22  304.91  1892.489990
2014-05-23  312.24  1900.530029
2014-05-27  310.82  1911.910034

### Calculate Daily Returns

In [4]:
# Use the `pct_change` function to calculate daily returns of closing prices for each column
daily_returns = combined_df.pct_change()
daily_returns.head()

                AMZN   S&P 500
date
2014-05-20       NaN       NaN
2014-05-21  0.012683  0.008116
2014-05-22 -0.000328  0.002362
2014-05-23  0.024040  0.004248
2014-05-27 -0.004548  0.005988

### Calculate Covariance of AMZN returns vs. S&P 500 returns

In [5]:
# Calculate covariance of all daily returns of AMZN vs. S&P 500

### Calculate Variance of S&P 500 returns

In [6]:
# Calculate variance of all daily returns of AMZN vs. S&P 500

### Beta of AMZN vs Correlation to SP500

In [7]:
# Calculate beta of all daily returns of AMZN

In [8]:
# Calculate the correlation for the daily_returns dataframe using the pearson method.

Note that the Beta value and the correlation do **not** match! Beta is a measure of volatity relative to the market. We would conclude that this stock is approximately ~32.9% more volatile than the market (Beta of 1.329). The Pearson Correlation (which is R, not R-squared) is an indication of the extent of the linear relationship between AMZN and the S&P500.

### Because Beta is the slope of the regression line, we can calculate Beta using the linear regression

### Beta for a single Stock

In [9]:
# Copy daily returns to a new data frame


# Select any stock AMZN


# Select the S&P500 (Market)


# Drop NA values

In [10]:
# plot a scatter plot between the selected stock and the S&P500 (Market)

In [11]:
# Calculate Beta using polyfit

In [12]:
# Now let's plot the scatter plot and the straight line on one plot


# Straight line equation with alpha and beta parameters 
# Straight line equation is y = beta * rm + alpha